.search-container {
  width: 90%;
  height: 50px;
  margin: 30px auto;
  border-radius: 10px;
  position: relative;
}
.input-container {
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.search {
  position: absolute;
  top: 10px;
  right: 22px;
  color: #333;
}
.map {
  position: absolute;
  top: 10px;
  left: 22px;
  color: #333;
}
.min-temp {
  color: #a09999;
}
.temp-container {
  display: flex;
  width: 90%;
  margin: 30px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.detail-container {
  width: 50px;
}
.forecast-container {
  width: 90%;
  margin: 30px auto;
}
.weather-conditions {
  display: flex;
}
.conditions {
  background-color: #e3e8e8;
  width: 200px;
  height: 70px;
  margin: 20px auto;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding-left: 20px;
}
.condition-common {
  margin: 10px 0px 0px 0px;
}
.condition-specific {
  font-size: 15px;
  font-weight: 500;
  margin: 0px 0px 10px 0px;
}

.img-container {
  display: flex;
  font-size: 50px;
  font-weight: 800;
  margin-left: 30px;
}
.img-container h1 {
  margin: 0px;
}
.sun-img {
  width: 85px;
  margin-left: 30px;
}
